<div class="container">

    <div class="card-columns my-3">
        <div class="card animated fadeIn bg-transparent" *ngFor="let pelicula of peliculas">
            <img class="card-img img-thumbnail" [src]='pelicula | peliculaImagen' alt="">
            <div class="card-body">
                <h5 class="card-title">{{ pelicula.title }}</h5>
                <p class="card-text">{{ pelicula.overview | slice:0:250 }}</p>
                <p *ngIf="pelicula.overview.length > 250">. . .</p>
            </div>
            <button class="btn btn-outline-info btn-block" (click)='verPelicula(pelicula)'>Ver mas...</button>
        </div>
    </div>
    <div *ngIf="href == 'https://ericrcorral.github.io/TMovieDB-App/buscar'">
        <h3 class="text-center mt-5 animated fadeIn">Aqui se mostrarán los resultados de su busqueda.</h3>
    </div>
    <div *ngIf="peliculas.length === 0 && href !== 'https://ericrcorral.github.io/TMovieDB-App/buscar'" class="animated fadeIn text-center mt-5">
        <h3>No se encontraron resultados con el nombre: <b>{{ noMatch }}</b></h3>
    </div>

</div>